#GalleryWrap {
  background-color: rgb(46, 46, 46);
  padding: 10px;
}

.ContainerTitle {
  background-color: rgba(0, 0, 0, 0.295);
  width: fit-content;
  padding-right: 10px;
  padding-left: 25px;
  font-size: 70px;
  padding-top: 3px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  letter-spacing: 0.3em;
  position: relative;
  transition: 0.3s ease;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: fit-content;
  position: relative;
}

.ContainerSubTitle {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 40px;
  padding-top: 3px;
  border-radius: 10px;
  letter-spacing: 0.1em;
  position: relative;
}

.ContainerTitle:hover {
  letter-spacing: 0.4em;
  background-color: rgba(0, 0, 0, 0.495);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

.Container {
  position: relative;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  z-index: 2;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 2px;
}

.GalleryContainer{
  background-color: black;
}


.GalleryItem {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease, outline 1ms;
}

.GalleryItem .image {
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
  background-image: linear-gradient(225deg,black,#001517);
}

.GalleryItem .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.2s ease;
}

.GalleryItem:hover .image img {
  transform: scale(1.1);
  filter: brightness(40%) blur(5px);
}

.GalleryItem:hover {
  z-index: 6;
  outline: rgb(255, 247, 236) solid 2px;
  box-shadow: #00eaff 0 0 30px;
  --imgincr: 15px;
  border-radius: 10px;
}

#Diane .GalleryItem:hover {
  box-shadow: red 0 0 30px;
}

.GalleryItem .Text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  font-size: 27px;
  pointer-events: none;
  z-index: 4;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}

.GalleryItem:hover .Text {
  opacity: 1;
  animation: move-up 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 1em;
  width: 100%;
}

.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.w-3 {
  grid-column: span 3;
}

.h-1 {
  grid-row: span 1;
}
.h-2 {
  grid-row: span 2;
}
.h-3 {
  grid-row: span 3;
}
