body {
  background-color: #bbb;
  margin: 0px;
  padding: 0;
  text-align: center;
  font-family: "Bebas Neue";
  color: white;
  user-select: none;
  /* overflow-x: hidden; */
}


.InfoContainer {
  background-color: white;
  position: relative;
  height: 584px;
  width: 100%;
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ContainerOverlay {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 8;
  pointer-events: none;
  position: absolute;
}

#HoverClass {
  width: 32%;
  height: 95%;
  position: absolute;
  z-index: 6;
  /* opacity: 0; */
  transition: 1s;
  --translate: -10px;
  animation-name:  Pulsing;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  border-radius: 10%;
  padding: 0px;
}


#ProfileImage {
  position: relative;
  /* clip-path: circle(44% at center); */
  transform: translate(0, 15%);
  
  display: block;
  z-index: 2;
  width: fit-content;
  margin: auto;
  transition: 0.4s ease;
  pointer-events: all;
  filter: contrast(90%) brightness(120%) hue-rotate(-30deg);
  animation-name:  Bobbing;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 50%;
  outline: #f90 solid 4px;
  overflow: hidden;
}

#ProfileWrap {
  width: fit-content;
  border-radius: 40%;
}

#ProfileImage:hover {
  filter: contrast(90%) brightness(130%) hue-rotate(-20deg);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
  border-radius: 40%;
  outline: rgb(255, 255, 255) solid 4px;
  animation-name:  Pulsing, Bobbing;
  animation-duration: 0s, 5s;
  animation-timing-function: ease, ease-in-out;
  animation-iteration-count: infinite;
  transform: translate(0, 12.5%) scale(1.01);
}

#ProfileImage img:hover {
  transform: scale(1.025);
  border-radius: 40%;
  
}

#ProfileImage img {
  width: 400px;
  transform: scale(1);
  transition: 0.5s ease;
  cursor: pointer;
  border-radius: 40%;
}

#AboutMeHint {
  position: relative;
  transform: translate(0, -90%) scale(1.05);
  display: block;
  z-index: 3;
  width: fit-content;
  margin: auto;
  pointer-events: none;
  opacity: 0;
}

#AboutMeHint img {
  width: 400px;
  transition: 0.5s ease;
}

.NameClass {
  position: absolute;
  width: 100%;
  color: black;
  transform: translateY(-100%);
  /* transform: translateY(-330px); */
  font-size: 53px;
  transition: 0.2s ease-in-out;
  top: 97%;
}

.NameClass:hover {
  animation-name:  gradient;
  animation-duration: 1s;
  animation-timing-function: ease, ease-in-out;
  animation-iteration-count: 1;
  background: linear-gradient(90deg , grey ,#000000, #000000, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#TextClass {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* justify-content: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

#DigitalArtistBgText {
  /* position: absolute; */
  z-index: 5;
  color: #a6a6a6;
  line-height: 0px;
  font-size: 190px;
  /* top: -1.5%; */
  left: 5%;
  transition: 0.5s ease;
  height: fit-content;
  /* transform: translateY(100+calc(100vw)vw);*/
  transform: translateX(-140px);
}

#GameDevBgText {
  height: 100%;
  z-index: 5;
  color: #a6a6a6;
  line-height: 0;
  font-size: 255px;
  right: 5%;
  transition: 0.5s ease;
  height: 300px;
  transform: translateY(-185px) translateX(150px);
}

#DigitalArtistBgText:hover {
  color: #f90;
  text-shadow: -1px 1px 0px #d50, -2px 2px 0px #d50, -3px 3px 0px #d50,
    -4px 4px 0px #d50, -5px 5px 0px #d50, -6px 6px 0px #d50, -7px 7px 0px #d50,
    -8px 8px 0px #d50, -50px 40px 0px rgba(0, 0, 0, 0.14);
  translate: 20px -10px;
}

#GameDevBgText:hover {
  color: #f90;
  text-shadow: 1px 1px 0px #d50, 2px 2px 0px #d50, 3px 3px 0px #d50,
    4px 4px 0px #d50, 5px 5px 0px #d50, 6px 6px 0px #d50, 7px 7px 0px #d50,
    8px 8px 0px #d50, 50px 40px 0px rgba(0, 0, 0, 0.14);
  translate: -20px -10px;
}

.AboutMe .AboutBody {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: 380px;
  top: 60%;
  opacity: 1;
  z-index: 2;
  background-color: rgb(30, 30, 30);
  background-image: url("images/Crystal\ Scene\ better.png");
  background-blend-mode: hard-light;
  filter: blur(0px) brightness(100%) sepia(.8);
  background-position: 0% 70%;
  background-size: cover;
  transition: 1s ease;
  transition: 1s ease, background-position 0ms;
  box-shadow: -500px 0px 0px #f90, 500px 0px 0px #f90, 0 0 0 rgba(0, 0, 0, 0.14);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
}

.AboutMe.CurrentItem .AboutBody {
  height: 0;
  width: 1%;
  left: 50%;
  box-shadow: 0px 0px 0px #d50, 0px 0px 0px #d50, 0 0 0 rgba(0, 0, 0, 0.14);
  border-radius: 10%;
  overflow: hidden;
  filter: blur(10px) brightness(50%) sepia(0);
}

.AboutMeText {
  padding: 1%;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
}

#AboutMeHeading {
  font-size: 50px;
  line-height: 50px;
}

#AboutMeBody {
  font-family: "Sofia Sans Condensed";
  font-weight: 600;
  font-size: 22px;
  /* line-height: 10px; */
  width: 640px;
}

#WIPText{
  font-size: 25px;
  font-family: "Sofia Sans Condensed";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Credit {
  background-color: #f90;
  /* height: 5%; */
  font-size: 1.5vw;
  color: rgb(255, 206, 132);
  padding-left: 1%;
}

::-webkit-scrollbar {
  display: none;
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f90;
  border-radius: 10px;
}
