body > * {
  overflow-x: hidden;
}

@font-face {
  font-family: "DaftPunkfont";
  src: url("/images/DaftFont.ttf");
}
@media screen and (max-width: 1660px) {
  .container {
    /*switch row based on width*/
    grid-auto-rows: 300px;
  }

  #TextClass {
    display: none;
  }

  .FeedbackText {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    /*switch row based on width*/
    grid-auto-rows: 250px;
  }
  .w-1 {
    grid-column: span 1;
  }
  .w-2 {
    grid-column: span 2;
  }
  .w-3 {
    grid-column: span 3;
  }

  #FormFillWrap {
    max-width: 850px;
  }

  #TextClass {
    display: none;
  }

  .FeedbackText {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    /*switch row based on width*/
    grid-auto-rows: 300px;
  }
  #FormFillWrap {
    max-width: 700px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    /*switch row based on width*/
    grid-auto-rows: 300px;
  }
  .w-1 {
    grid-column: span 1;
  }
  .w-2 {
    grid-column: span 1;
  }
  .w-3 {
    grid-column: span 1;
  }
}

@media screen and (max-width: 700px) {
  #socialtwitter {
    height: 110px;
    width: 110px;
    top: 210px;
    left: 85px;
    display: none;
  }

  #socialinstagram {
    height: 110px;
    width: 110px;
    top: 210px;
    right: 85px;
    display: none;
  }

  #socialreddit {
    height: 110px;
    width: 110px;
    top: 120px;
    left: 55px;
    display: none;
  }

  #sociallinkedin {
    height: 110px;
    width: 110px;
    top: 120px;
    right: 55px;
    display: none;
  }

  #ProfileImage {
    background-color: #f90;
    clip-path: circle(47% at center);
  }

  #ProfileImage img {
    /* border: 10px solid black; */
    clip-path: circle(43% at center);
  }
}

@media screen and (max-width: 650px) {
  .container {
    grid-auto-rows: 250px;
  }

  #AboutMeBody {
    width: 415px;
    font-size: 21px;
  }

  #AboutMeHeading {
    font-size: 45px;
  }

  .AboutMe .AboutBody {
    height: 60%;
  }

  #FormFillWrap {
    max-width: 480px;
  }

  #FormFill {
    font-size: 20px;
  }

  .ContactMe {
    height: 320px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    grid-template-columns: repeat(1, 100%);
    /*switch row based on width*/
    grid-auto-rows: 300px;
    padding: 25px;
    grid-gap: 25px;
    background-color: rgb(32, 32, 32);
  }

  .GalleryItem {
    outline: grey solid 2px;
  }

  .InfoContainer {
    height: 400px;
  }

  #HoverClass {
    width: 390px;
    /* display: none; */
  }

  #AboutMeHint img {
    width: 300px;
  }

  .w-1 {
    grid-column: span 1;
  }
  .w-2 {
    grid-column: span 1;
  }
  .w-3 {
    grid-column: span 1;
  }

  .h-1 {
    grid-row: span 1;
  }
  .h-2 {
    grid-row: span 1;
  }

  #FormFillWrap {
    max-width: 300px;
  }

  #FormFill {
    font-size: 20px;
  }

  #TextClass {
    display: none;
  }

  .NameClass {
    width: 100%;
    color: black;
    transform: translateY(-260px);
    font-size: 43px;
  }
  .AboutMeText {
    padding: 0%;
    font-size: 16px;
  }

  .AboutMe .AboutBody {
    height: 65%;
  }

  .viewer-title {
    font-size: 22px;
    white-space: normal;
  }
  .Credit {
    font-size: 4vw;
  }

  #ProfileImage img {
    width: 300px;
  }

  #AboutMeBody {
    font-size: 20px;
    width: 340px;
  }

  #AboutMeHeading {
    font-size: 40px;
  }

  .ContactMe {
    height: 310px;
  }

  #FormStatus {
    margin-bottom: 20px;
  }
}
