@font-face {
  font-family: "DaftPunkfont";
  src: url("/images/DaftFont.ttf");
}
@media screen and (max-width: 1660px) {
  .container {
    /*switch row based on width*/
    grid-auto-rows: 300px;
  }

  #TextClass {
    display: none;
  }

  .FeedbackText{
    display: none;
  }
}


@media screen and (max-width: 1300px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    /*switch row based on width*/
    grid-auto-rows: 250px;
  }
  .w-1 {
    grid-column: span 1;
  }
  .w-2 {
    grid-column: span 2;
  }
  .w-3 {
    grid-column: span 3;
  }

  #FormFillWrap {
    max-width: 850px;
  }

  #TextClass {
    display: none;
  }

  .FeedbackText{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 50%);
    /*switch row based on width*/
    grid-auto-rows: 300px;
  }
  .w-1 {
    grid-column: span 1;
  }
  .w-2 {
    grid-column: span 1;
  }
  .w-3 {
    grid-column: span 1;
  }
}

@media screen and (max-width: 400px) {
  .container {
    grid-template-columns: repeat(1, 100%);
    /*switch row based on width*/
    grid-auto-rows: 300px;
  }

  .InfoContainer {
    height: 400px;
  }

  .HoverClass {
    width: 415px;
  }

  #ProfileImage img {
    width: 300px;
  }

  #socialtwitter {
    height: 110px;
    width: 110px;
    top: 210px;
    left: 85px;
  }

  #socialinstagram {
    height: 110px;
    width: 110px;
    top: 210px;
    right: 85px;
  }

  #socialreddit {
    height: 110px;
    width: 110px;
    top: 120px;
    left: 55px;
  }

  #sociallinkedin {
    height: 110px;
    width: 110px;
    top: 120px;
    right: 55px;
  }

  .w-1 {
    grid-column: span 1;
  }
  .w-2 {
    grid-column: span 1;
  }
  .w-3 {
    grid-column: span 1;
  }

  #FormFillWrap {
    max-width: 300px;
  }

  #TextClass {
    display: none;
  }

  .NameClass {
    width: 100%;
    color: black;
    transform: translateY(-360px);
    font-size: 43px;
  }
}
