#socialtwitter {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 45%;
    left: 25%;
    background-color: #f90;
    border-radius: 100%;
    opacity: 1;
    z-index: 1;
    transform: scale(100%);
    transition: 0.4s ease;
  }
  #socialreddit {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 25%;
    left: 18.5%;
    background-color: #f90;
    border-radius: 100%;
    opacity: 1;
    z-index: 1;
    transform: scale(100%);
    transition: 0.4s ease;
  }
  #sociallinkedin {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 25%;
    right: 18.5%;
    background-color: #f90;
    border-radius: 100%;
    opacity: 1;
    z-index: 1;
    transform: scale(100%);
    transition: 0.4s ease;
    text-align: center;
  }
  #socialinstagram {
    position: absolute;
    /* height: width; */
    height: 10vw;
    width: 10vw;
    top: 45%;
    right: 25%;
    background-color: #f90;
    border-radius: 100%;
    opacity: 1;
    z-index: 1;
    transform: scale(100%);
    transition: 0.4s ease;
  }
  
  #socialtwitter:hover {
    box-shadow: -0px 1px 0px #1679b6, -0px 2px 0px #1679b6, -1px 3px 0px #1679b6,
      -7px 12px 0px rgba(0, 0, 0, 0.2);
    background-color: #1da1f2;
  }
  #socialinstagram:hover {
    box-shadow: 0px 1px 0px #b92c73, 0px 2px 0px #b92c73, 1px 3px 0px #b92c73,
      7px 12px 0px rgba(0, 0, 0, 0.2);
    background-color: #ff5bad;
  }
  #socialreddit:hover {
    box-shadow: 0px 1px 0px #942700, 0px 2px 0px #942700, -1px 3px 0px #942700,
      -5px 7px 0px rgba(0, 0, 0, 0.2);
    background-color: #ff4500;
  }
  #sociallinkedin:hover {
    box-shadow: 0px 1px 0px #06415c, 0px 2px 0px #06415c, 1px 3px 0px #06415c,
      5px 7px 0px rgba(0, 0, 0, 0.2);
    background-color: #0e76a8;
  }
  
  #socialtwitter svg {
    transform: scale(0.5);
    transition: 0.2s ease-in-out;
    color: #ffffff;
  }
  #socialreddit svg {
    transform: scale(0.5);
    transition: 0.2s ease-in-out;
    color: #ffffff;
  }
  #sociallinkedin svg {
    transform: translateY(-0.5vh) scale(0.4);
    transition: 0.2s ease-in-out;
    color: #ffffff;
  }
  #socialinstagram img {
    transform: translateY(-1vh) scale(0.5);
    transition: 0.2s ease-in-out;
  }
  
  #socialtwitter svg:hover {
    transform: scale(0.55);
    filter: invert();
  }
  #socialinstagram img:hover {
    transform: translateY(-1vh) scale(0.55);
    filter: invert();
  }
  #socialreddit svg:hover {
    transform: scale(0.55);
    filter: invert(1);
  }
  #sociallinkedin svg:hover {
    transform: translateY(-0.5vh) scale(0.45);
    filter: invert(1);
  }