.ModalContent {
  display: block;
  height: 80%;
  /* width: fit-content; */
  margin: auto;
  transform: scale(1);
  transition: 0.2s ease;
  border-radius: 10px;
}

#Caption {
  margin: auto;
  display: block;
  font-size: 160%;
  max-width: 800px;
  text-align: center;
  color: #ccc;
  padding: 25px 0;
}

.ModalContent,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.Close {
  position: absolute;
  top: 15px;
  right: 50px;
  color: #f1f1f1;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
  height: fit-content;
}

.Close:hover,
.Close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.viewer-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  color: white;
}
.viewer-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

.viewer-transition {
  transition: all 0.4s ease;
}

.viewer-canvas > img {
  border-radius: 10px;
}

.viewer-list {
  height: 100%;
}
.viewer-list > li {
  height: 80px;
  width: 80px;
  
}
.viewer-toolbar > ul {
  height: 50px;
  overflow: visible;
}

.viewer-toolbar>ul>.viewer-large {
  height: 100%;
  width: 50px;
  overflow: visible;
}

.viewer-reset {
  background-position: center;
  background-image: url(images/Reset.png);
  background-size: cover;
  content: "Reset";
  overflow: visible;
}

.viewer-reset:hover {
  outline: #f90 1px solid;

}

.viewer-reset:focus {
  animation: fullSpin 0.4s ease-out;
  outline: white 2px solid !important;
  box-shadow: #f90 0 0 10px !important;
}


.viewer-close:before, .viewer-flip-horizontal:before, .viewer-flip-vertical:before, .viewer-fullscreen-exit:before, .viewer-fullscreen:before, .viewer-next:before, .viewer-one-to-one:before, .viewer-play:before, .viewer-prev:before, .viewer-reset:before, .viewer-rotate-left:before, .viewer-rotate-right:before, .viewer-zoom-in:before, .viewer-zoom-out:before {
  background-image: url(images/Reset.png);
  background-repeat: no-repeat;
  
  color: transparent;
  display: block;
  font-size: 0;
  height: 50px;
  line-height: 0;
  width: 50px;
}

.viewer-loading:after {
  /* position: absolute; */
  /* left: 50%;  */
  /* top: 50vh; */
  /* translate: -50% -50%; */
  z-index: 100;
  animation: spin;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  scale: 120%;
  /* filter: invert(var(--invertLogo)); */
  background-image: url(images/YA\ logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  border: none;
}