.socials{
  background-color: var(--tertiaryBackgroundColor);
  position: absolute;
  height: 175px;
  width: 175px;
  border-radius: 100%;
  z-index: 1;
}

.socials:hover {
  scale: 1.05;
}

#socialtwitter {
  transform: scale(.9);
  transition: 0.4s ease;
}

#socialDiscord {
  transform: scale(.9);
  transition: 0.4s ease;
}

#socialreddit {
  transform: scale(.9);
  transition: 0.4s ease;
}

#sociallinkedin {
  transform: scale(.9);
  transition: 0.4s ease;
  text-align: center;
}

  
#socialtwitter:hover {
  
  background-color: #1da1f2;

  /* padding: 10px; */
}
#socialDiscord:hover {
  
  background-color: #5865F2;
}
#socialreddit:hover {
  
  background-color: #ff4500;
}
#sociallinkedin:hover {
  
  background-color: #0e76a8;
}
  
#socialtwitter svg {
  transform: translateY(0.4vh) scale(0.5);
  transition: 0.2s ease-in-out;
  color: #ffffff;
}
#socialreddit svg {
  transform: scale(0.5);
  transition: 0.2s ease-in-out;
  color: #ffffff;
}
#sociallinkedin svg {
  transform: translateY(-0.5vh) scale(0.4);
  transition: 0.2s ease-in-out;
  color: #ffffff;
}
#socialDiscord img {
  transform:  translate(-312.5px, -312.5px) scale(0.12) ;
  transition: 0.2s ease-in-out;
}

#socialtwitter svg:hover {
  transform: translateY(0.4vh)scale(0.55);
  filter: invert() drop-shadow( -10px 12px 2px rgba(0, 0, 0, .3));
}
#socialDiscord img:hover {
  transform:  translate(-312.5px, -312.5px) scale(0.13);
  filter: invert() drop-shadow( 30px 40px 7px rgba(0, 0, 0, .3));
  
}
#socialreddit svg:hover {
  transform: scale(0.55);
  filter: invert(1) drop-shadow( -10px 5px 2px rgba(0, 0, 0, .3));
}
#sociallinkedin svg:hover {
  transform: translateY(-0.5vh) scale(0.45);
  filter: invert(1) drop-shadow( 10px 5px 2px rgba(0, 0, 0, .3));
}